/* Histoire à la carte boutons */

.fleche {
	background-image: url(../images/icones/fleche.png);
	background-repeat: no-repeat;
	padding-left: 13px;
	background-position: 0px 3px;
	
}
h3.fleche, h3 .fleche {background-position: 0px 8px;}
h4.fleche {background-position: 0px 6px;}

.url{
	background-image: url(../images/icones/url.png);
	background-repeat: no-repeat;
	padding-left: 27px;
	background-position: 0px 2px;
}
.mail{
	background-image: url(../images/icones/mail.gif);
	background-repeat: no-repeat;
	padding-left: 27px;
	background-position: 4px 2px;
}

.version_francaise {
	background-image: url(../images/icones/drapeau_francais.gif);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-left: 33px;
	display: inline-block;
	min-height:16px;
}
.version_espagnole {
	background-image: url(../images/icones/drapeau_espagnol.gif);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-left: 33px;
	display: inline-block;
	min-height:16px;
}

/************* BOUTONS **********************/
#bouton {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
#bouton a {
	background-color : #a92515;
	color: #FFFFFF;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	display: inline-block;
}
#colonne_gauche #bouton a {display: block;
padding-right: 1%;
	padding-left: 1%;
}
#bouton a:hover {
	background-color: #810C00;
	text-decoration: none;
}

/************* BOUTON CARTE DE DEMO **********************//*
#bouton_carte {text-align:center;}
#bouton_carte a {
	display:inline-block;
	padding:1px;
background-color : #a92515;
margin-bottom:10px;
margin-top:10px;
}
#bouton_carte img {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
	}
#bouton_carte a:hover > img {opacity:0.5;}
#bouton_carte  span {
	position:absolute;
	background-image:url(../images/icones/lecture_demo.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:200px;
	height:144px;
	margin-left:-200px;	
	}