/* Histoire à la carte colonne gauche */

#colonne_gauche {
	float: left;
	width: 298px;
	margin-right: 30px;
	display: inline-block;
}

#colonne_gauche h1 {font-size:22px;
margin-bottom: 5px;
margin-top: 0px;
font-weight: 400;
}
#colonne_gauche h2 {font-size:20px;}
#colonne_gauche h3 {
	font-size: 17px;
	margin-top: 5px;}
#colonne_gauche p, #colonne_gauche h6 {text-align:left;}

/************* LOGO **********************/
#logo_histoire_a_la_carte {
	background-image: url(../images/interface/logo_histoire_a_la_carte.jpg);
	background-repeat: no-repeat;
	padding-top: 65px;
}
#logo_histoire_a_la_carte .logo {
	display: block;
	height: 210px;
	padding-right: 18px;
	padding-left: 18px;
	padding-bottom:10px;
}
#logo_histoire_a_la_carte span {display:none;}

/************* ESPACE ABONNES **********************/
#espace_abonnes {
	background-color: #b5817c;
	padding-right: 18px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 18px;
	color: #E6D1CF;
}
#espace_abonnes h2 { color: #FFF; }
#espace_abonnes label {
	color: #FFF;
	float: none;
	text-align: left;
	width: auto;
	margin-right: 0px;
	font-weight: normal;
	margin-bottom: 3px;
}
#espace_abonnes input[type="text"], #espace_abonnes input[type="password"], #espace_abonnes textarea {
	width: 90%;
	background-color: #ecdfde;
}

#colonne_gauche .alerte span {max-width: 94%;
	display: block;
	}
#espace_abonnes #bouton span {
	background-image: url(../images/icones/cadenas.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0px 1px;
}
#espace_abonnes a {color:#FFFFFF;}

/************* MACARON 0 **********************/
.macaron_0 {
	padding-top: 15px;
	padding-right: 18px;
	padding-bottom: 5px;
	padding-left: 18px;
}

/************* MACARON 1 **********************/
.macaron_1 {
	background-color: #F8F7F3;
	padding-top: 15px;
	padding-right: 18px;
	padding-bottom: 5px;
	padding-left: 18px;
}
.macaron_1 h2 { margin-top: 0px;}

/************* MACARON 2 **********************/
.macaron_2 {
	background-color: #bdbab5;
	padding-top: 15px;
	padding-right: 18px;
	padding-bottom: 15px;
	padding-left: 18px;
}
.macaron_2 h2, .macaron_2 h2 a { color: #FFF; }
.macaron_2 h4 { color: #F3F2F0; }
.macaron_2 img { border: 1px solid #FFF;
box-shadow: 3px 3px 8px #898681; }

/************* MACARON 3 **********************/
.macaron_3 {
	background-color: #FFF;
	padding-top: 15px;
	padding-right: 18px;
	padding-bottom: 5px;
	padding-left: 18px;
}
.macaron_3 h2 { margin-top: 0px; }

/************* MACARON 4 **********************/
.macaron_4 {
	background-color: #E1CFC5;
	padding-top: 15px;
	padding-right: 18px;
	padding-bottom: 5px;
	padding-left: 18px;
}
.macaron_4 hr { border-top-color: #FFF; }

/************* MACARON ROUGE ORANGE **********************/
#macaron_rouge_orange {
	background-color:#bb6048;
	background-image:url(../images/macarons/rouge_orange.jpg);
	background-repeat:no-repeat;
	padding: 10px 18px;
	color:#f1d3cc;
	}
#macaron_rouge_orange a {color:#FFFFFF;}
#macaron_rouge_orange .fleche {background-image:url(../images/icones/fleche_blanche.png);}