/* Histoire à la carte formulaires et admin */

form {
	margin: 0px;
	padding: 0px;
}

form p, .champ_formulaire {
	/* Empêcher le dépassement des flottants */
	overflow: hidden;
	/* Idem pour IE6 */
	width: 100%;
	line-height: normal;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#alerte, .alerte {
	width:auto;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
	font-size: 17px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center!important;
}
.alerte span {
	background-color: #BF3D3F;
	color: #FFFFFF;
	max-width: 66%;
	padding-top: 6px;
	padding-right: 3%;
	padding-bottom: 6px;
	padding-left: 3%;
	display: inline-block;
	}

label {
	float:left;
	width:24%;
	margin-right:10px;
	text-align:right;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 700;
	padding-top: 4px;
	margin-bottom: 10px;
	color: #807C72;
	font-size: 15px;
	margin-top: 0px;
	display: block;
}
#liste_tomes label {
	float:none;
	width:auto;
	margin-right:0;
	text-align:left;
	color: #403D39;
	font-weight: normal;
	font-size: 18px;
	}
#liste_tomes label em {font-size:12px;
color: #66615A;
font-family: Helvetica, Arial, sans-serif;
display:block;
}
#liste_tomes label:hover {cursor:pointer;}
input[type="text"], input[type="password"] , textarea{
	background-color:#FFF;
	display: inline;
	font-size: 12px;
	color: #4D0600;
	width: 72%;
	padding: 5px;
	vertical-align: middle;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
}
#zone_calque input[type="text"], #zone_calque input[type="password"], #zone_calque textarea{ border: 1px solid #D9D6CE; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	outline: none;
	background-color: #FFF;
	color: #81190E;
}

input[type="text"].kiosque_acces_direct{
	font-size: 25px;
	width: 100px;
	font-family: "Times New Roman", Times, serif;
}
input[type="text"].court { width: 120px; }

input[type="submit"] {
	text-decoration: none;
	background-color : #a92515;
	color: #FFFFFF;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
	font-size: 17px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	vertical-align: middle;
}
input[type="submit"]:hover { background-color: #810C00; }

h2.montant_total {text-align:center;
margin-bottom:15px;
}
.montant_total strong {color : #a92515;}
.abon_tome { border-bottom: 1px dotted #BDBAB5; 
padding-bottom:15px;
margin-top:10px;}
.abon_tome .intitule {
color: #403D39;
font-weight: normal;
font-size: 20px;
font-family: 'Archivo Narrow', sans-serif;
}
.abon_tome .duree {float:right;
font-style:italic;
padding-top:10px;
display:inline-block;
}

#lien_paypal {
	margin-top:15px;
	margin-bottom:20px;
	display:inline-block;
	background-color:#f3e2e1;
	padding:10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius:50px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
#lien_paypal:hover {background-color:#f6cbc8;}

/************* ONGLETS **********************/
#onglets {
	font-family: 'Archivo Narrow', sans-serif;
font-weight: 400;
font-size: 17px;
margin-top: 15px;
margin-bottom: 20px;
text-align: center;
}
.onglet {
	background-color : #dfdcd6;
	color: #FFFFFF;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
margin-right:5px;
display: inline-block;
}
.onglet_en_cours {background-color : #b48c88;}
.onglet_precedent {background-color : #e9cfcc;}

.colonne_prix {
	text-align: right;
}
