/* menu Histoire à la carte */

#menu {
	z-index: 25;
	position: absolute;
	top: 0px;
	width: 980px;
	font-size: 12px;
	height: 30px;
	overflow: hidden;
	font-weight: bold;
	text-transform: uppercase;
}
#menu a:hover { text-decoration: none; }
#menu ul, #menu li {
	margin: 0px;
	padding: 0px;
	list-style-type:none;
	list-style-image: none;
}
#menu li {
	float:left;
	list-style-image: none;
}
#menu li a {
	display: block;
	background-image: url(../images/interface/menu_1.jpg);
	background-repeat: repeat-x;
	background-color: #42413F;
	color: #CCCAC3;
	height: 26px;
	line-height: 26px;
	background-position: 0px bottom;
	text-align: center;
	-webkit-transition-property: background-position;
	-webkit-transition-duration: 0.6s;
	-moz-transition-property: background-position;
	-moz-transition-duration: 0.6s;
	transition-property: background-position;
	transition-duration: 0.6s;
	text-shadow: 1px 1px 3px #2f2e2c;
	overflow:hidden;
	padding-top: 4px;
}
#menu li a:hover {
	color: #FFF;
	background-position: 0px top;
}

/************* MENU HOME **********************/
#menu .menu_home {
	border-radius: 0 0 0 20px;
	height: 30px;
	padding-top: 0px;
}
.menu_home span {
	width: 60px;
	height: 30px;
	background-image: url(../images/icones/home.png);
	background-position: center center;
	display: block;
	opacity:0.6;
	background-repeat: no-repeat;
}
.menu_home span:hover {opacity:1;}
.menu_home span span {display:none;}

.menu_abonnement {width:250px; }
.menu_quisommesnous {width:190px; }

/************* MENU CONTACT **********************/
#menu .menu_contact {
	height: 30px;
	padding-top: 0px;
}
.menu_contact span {
	width: 60px;
	height: 30px;
	background-image: url(../images/icones/contact.png);
	background-position: center center;
	display: block;
	opacity:0.6;
	background-repeat: no-repeat;
}
.menu_contact span:hover {opacity:1;}
.menu_contact span span {display:none;}

.menu_francais span{
	background-image: url(../images/icones/drapeau_francais.gif);
	background-repeat: no-repeat;
	padding-left: 35px;
	padding-top: 4px;
}
#menu .menu_anglais {
	width: 200px;
	background-image: url(../images/interface/menu_2.jpg);}
.menu_anglais span {
	background-image: url(../images/icones/drapeau_anglais.gif);
	background-repeat: no-repeat;
	padding-left: 35px;
	padding-top: 4px;
}

#menu .menu_espagnol {
	width: 220px;
	background-image: url(../images/interface/menu_2.jpg);
	border-radius: 0 0 20px 0;}
.menu_espagnol span {
	background-image: url(../images/icones/drapeau_espagnol.gif);
	background-repeat: no-repeat;
	padding-left: 35px;
	padding-top: 4px;
}

body.kiosque #menu li {width: 33.3%;}
body.kiosque #menu a {
	width: 100%;
	background-image: url(../images/interface/menu_2.jpg);
}
body.kiosque .menu_francais {border-radius: 0 0 0 20px;}
body.kiosque #menu li a.encours {
	color: #FFF;
	background-position: 0px top;
}