/* Histoire styles impression */

html {
     width:100%
}

body {
    background-color: #fff;
    color: #000;
    font-size: 12pt;
	background-image: none;
}
#menu {display:none;}

 #colonne_gauche {float: none;
width: auto;
margin-right: 0;
display: block;
}
#logo_histoire_a_la_carte {
	height: auto;
	padding-top: 0;
}
#logo_histoire_a_la_carte a {
	height: auto;
	margin-left: 0;
}
#logo_histoire_a_la_carte span {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 700;
	display:inline;
font-size:20px;}

#colonne_centrale {
	float: none;
	width: auto;
	display: block;
	margin-top:20px;
}
#zone_calque {box-shadow: none;}