/* Histoire à la carte */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	background-image: url(../images/interface/fond.jpg);
	background-color: #ebe9e5;
	color: #403D39;
	padding-bottom: 10px;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 30px;
	padding-right: 0px;
	padding-left: 0px;
	background-repeat: no-repeat;
	background-position: center 0px;
}
body.kiosque {padding-top: 0;
background-position: center -30px;}
#admin {width: auto;}
	
/************* POLICES GOOGLEFONT **********************/
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Narrow'), local('ArchivoNarrow'), url(archivo_narrow_400.woff) format('woff');
}
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('Archivo Narrow'), local('ArchivoNarrow'), url(archivo_narrow_700.woff) format('woff');
}
	
a, a:visited{
	color: #950f00;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #780c00;
}
p {
	line-height: 16px;
	margin-top: 5px;
	margin-bottom: 8px;
	text-align: justify;
	}
small {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
}
	
.minuscule { font-size: 10px; }
.mots_cles {
	font-size: 9px;
	line-height: normal;
	color: #A6A19A;
	padding-top: 5px;
	margin-top: 0px;
	clear: both;
}
ul {
	margin-top: 8px;
	margin-bottom: 15px;
	list-style-image: url(../images/ancienne_interface/icones/puce.gif);
	padding-left: 15px;
}
li {
	margin-top: 1px;
	margin-bottom: 5px;
}

h1   {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #000;
	margin-bottom: 12px;
	margin-top: 5px;
}

h2 {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: #6c6a66; 
	margin-top: 10px;
	margin-bottom: 5px;
}
h3   {
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 4px;
	padding-bottom: 1px;
	font-family: 'Archivo Narrow', sans-serif;
}
h4   {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 17px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 12px;
	margin-top: 8px;
	line-height: 17px;
	color: #4D3B36;
}
h4 large {
	font-weight: 700;
	font-size: 22px;
	color: #000;
}
h5   {
	font-size: 15px;
	font-weight: normal;
	text-align: justify;
	line-height: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h6   {
	color: #66615A;
	font-size: 12px;
	font-weight: normal;
	margin-top: 4px;
	margin-bottom: 6px;
	text-align: justify;
}
.alignement_central {text-align: center;}
hr  {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #B3AFAA;
	padding: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	clear: both;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
#colonne_gauche hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.filet_invisible {
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

blockquote {
	padding: 0px;
	margin-top: 0px;
	margin-right: 100px;
	margin-bottom: 0px;
	margin-left: 100px;
}

#zone_calque {
	background-image: url(../images/interface/fond_calque.png);
	padding: 20px;
	margin-bottom:10px;
	box-shadow: 3px 3px 8px #aca7a1;
}

#colonne_centrale {
	float: left;
	width: 652px;
	display: inline-block;
	margin-top:70px;
}
#liste_de_cartes {
	margin-top: 15px;
	margin-bottom: 15px;	
}
#liste_de_cartes img {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 3px;
	border: 1px solid #FFF;
box-shadow: 3px 3px 8px #bbb5af;
}
#liste_de_cartes h2 { color: #000; }

.encadre_blanc {
	background-color: rgba(255,255,255,0.75);
	-webkit-box-shadow: 3px 3px 5px rgba(167,164,157,0.39);
	box-shadow: 3px 3px 5px rgba(167,164,157,0.39);
	padding-left:20px;
	padding-top:15px;
	padding-bottom:10px;
	padding-right:15px;
	margin-bottom:15px;
	margin-top:10px;
}

/************* COLONNES **********************/
.colonne_1tiers {
	width: 31%;
	margin-right: 1%;
	margin-left: 1%;
	display: inline-block;
	float: left;
	padding-bottom: 10px;
}
.colonne_1tiers .vignette, .demie_colonne .vignette { border: 1px solid #FFF;
box-shadow: 3px 3px 8px #bbb5af;
 }
 .colonne_1tiers h3,  .demie_colonne h3 {
	font-weight: 700;
	margin-top: 15px;
	font-size: 21px;
	}
.colonne_1tiers h3 a, .demie_colonne h3 a {color: #000;}
.colonne_1tiers h3 small {
	font-size: 15px;
	font-weight: 400;
}
.colonne_1tiers h6 {
margin-top: 0;
text-align: left;}
.colonne_1tiers p, .demie_colonne p {
margin-top: 0;
text-align: left;}

.demie_colonne {
	width: 46%;
	margin-right: 2%;
	margin-left: 1%;
	display: inline-block;
	float: left;
	padding-bottom: 10px;
}

/************* TABLEAUX **********************/
table{
	border-collapse:collapse;
	font-size: 13px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 100%;
	margin-bottom: 25px;
}
.tableau_neutre {margin-bottom: 0;}
th {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 700;
	color: #FFFFFF;
	background-color: #99978D;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	text-align: left; //modif de center
	font-size: 15px;
}
td {
	padding-bottom: 4px;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #BDBAB5;
	min-width: 70px;
	}
.tableau_neutre td {
	padding: 0px;
	border-bottom-style: none;
}

tr { background-color: #FAFAF8; }
table tr:nth-child(odd) { background-color : #FFF; }
.tableau_neutre tr:nth-child(odd) { background-color : transparent; }
tr:hover > td { background-color: #FBECEB; }
.tableau_neutre tr, .tableau_neutre tr:hover > td { background-color: transparent; }
td p, td h6 {text-align:left;}

.rouge {
	color: #990000;
}

#bandeau {
	background-color: #CCC6C4;
	clear: both;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
}
#bandeau_central {
	background-color: #BDBAB5;
	clear: both;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.vignette_droite {
	float:right;
	border: 1px solid #FFF;
	box-shadow: 3px 3px 8px #b0ada8;
	margin-bottom: 15px;
	margin-left: 20px;
	margin-top: 10px;
}
.vignette_gauche_sans_cadre {
	float:left;
	margin-bottom: 15px;
	margin-right: 20px;
}
#bloc_vignette_droite {
	float:right;
	margin-bottom: 15px;
	margin-left: 20px;
	margin-top: 10px;
}
#bloc_vignette_droite img {
	border: 1px solid #FFF;
	box-shadow: 3px 3px 8px #b0ada8;
	margin-bottom: 10px;
}


#bandeau_addthis {
	margin-left:120px;//60
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
}

.filrouge {
	display:none;
	font-size: 10px;
	color: #C27D68;
	}
#admin .filrouge, .kiosque .filrouge {	display:block;}	
.filrouge a:link, .filrouge a:visited {
	color: #C27D68;
	text-decoration: none;
}
.filrouge a:hover, .signature a:hover   { text-decoration:underline; }

.signature {
	font-size: 12px;
	color: #A6A59D;
	margin-top: 20px;
	margin-bottom: 20px;
}
.signature a { color: #A6A59D; }

#colonne_gauche #alerte {
	margin-right: 0;
	margin-left: 0;
}

#nombre_resultats {
	text-align: center;
	margin-bottom: 10px;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
}
#nombre_resultats a {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #FFFFFF;
	padding:2px;
	border: 1px solid #007980;
	text-decoration: none;
	font-weight: bold;
	background-color: #007980;
}

#nombre_resultats a:hover {
	background:#FFFFFF;
	color: #007980;
}

#liste_liens img {
	float: left;
	margin-bottom: 10px;
}

#liste_liens p { padding-left: 160px; }
#retrait_negatif , .retrait_negatif{
	margin-left: -15px;
	margin-right: -15px;
}

img.retrait_negatif {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.references, .references a {
	font-size: 9px;
	text-transform: uppercase;
	color: #CCC9C2;
	line-height: normal;
}

/************* LISTE DE CARTES KIOSQUE **********************/
.numero_de_carte {
	margin-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;
	font-style: italic;
	font-family: Helvetica, Arial, sans-serif;
}

#liste_de_carte_simple li { margin-bottom: 10px; }

#liste_de_carte_simple .niveau1 {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #6c6a66; 
	margin-top: 20px;
}

#liste_de_carte_simple .niveau2 {
	background-image: url(../images/icones/puce.png);
	background-repeat: no-repeat;
	margin-left: 30px;
	padding-left: 10px;
	background-position: 0px 6px;
}

#liste_de_carte_simple .niveau3 {
	background-image: url(../images/icones/puce.png);
	background-repeat: no-repeat;
	margin-left: 100px;
	padding-left: 10px;
	background-position: 0px 4px;
}
.carte_scolaire a:link, .carte_scolaire a:visited {
	background-image: url(../images/icones/crayon.png);
	background-repeat: no-repeat;
	padding-top: 6px;
	padding-bottom: 6px;
	background-position: right 0px;
	padding-right: 30px;
	color: #EC6D00;
}
h4.carte_scolaire {
	background-image: url(../images/icones/crayon.png);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 6px;
	background-position: 0 0;
	padding-left: 30px;
	color: #EC6D00;	
	display: inline-block;
	margin:0;
}

/************* ACTUALITES ACCUEIL **********************/
#actualites_accueil {
	height: 327px;
	width: 652px;
	box-shadow: 3px 3px 8px #908e89;
	overflow: hidden;
	margin-bottom: 20px;
	}
#actualites_accueil .navigation {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #951f12;
	position: absolute;
	z-index: 20;
	margin-left: 429px;
	top: 160px;
}
#actualites_accueil #pagerSlide {
	display: inline;
	margin-left: 4px;
}
#actualites_accueil #pagerSlide a {
	font-size: 12px;
	background-color: #bebbb6;
	border-radius: 10px;
	display: inline-block;
	margin-left: 4px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
#actualites_accueil #pagerSlide a:hover, #actualites_accueil #pagerSlide a.activeSlide { background-color: #951f12!important;
text-decoration:none; }

#actualites_accueil img {
	height: 327px;
	width: 652px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.textes_slider {
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0.90);
	width: 204px;
	margin-left: 412px;
	position: absolute;
	margin-top: -327px;
	height: 237px;
	padding-top: 90px;
	padding-right: 18px;
	padding-left: 18px;
	overflow: hidden;
}
.textes_slider a { color: #000; }
.textes_slider h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 28px;
	font-weight: 700;
	color: #000;
}
.textes_slider h3 {
	color: #6c6055;
	font-size: 17px;
	margin-top: 7px;
	margin-bottom: 7px;
}

//iframe {margin-bottom:15px;}
