/* AUTHOR - CHARLIE MURPHY */

* {
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #212121;
  padding: 15px 15px 0;
  margin: 0;
  height: 100vh;
  width: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

#container {
  position: absolute;
  padding: 10px;
  width: 42%;
  border-style: ridge;
  border: 10px solid black;
  border-radius: 0px;
  text-align: center;
  height: 96.5vh;
  top: 0;
  bottom: 0;
  margin-left: 11%;
  background-color: gray;
}

#rightSide {
  position: absolute;
  padding: 10px;
  height: 96.5vh;
  width: 41.5%;
  margin-left: 55%;
  top: 0;
  bottom: 0;
  border-style: ridge;
  border: 10px solid black;
  border-radius: 0px;
  background-color: gray;
}

#menu {
  position: absolute;
  width: 11%;
  height: 96.5vh;
  left: 0%;
  border-color: black;
  border-style: solid;
  border-width: 10px;
  top: 0;
  bottom: 0;
  text-align: center;
  background-color: gray;
  padding: 10px;
}

input[type=button]:hover, #campList:hover, #chartCut:hover {
  background-color: #800000;
}

input[type=button], #campList, #chartList, #chartCut {
  background-color: #504949;
  border: none;
  color: #F0FFFF;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 85%;
  width: 100%;
  height: 11%;
  margin: 2px;
  display: block;
  float: left;
}

.clickedButton {
  background-color: green;
  border: none;
  color: #F0FFFF;
  padding: 5px 5px;
  text-align: left;
  text-decoration: none;
  font-size: 75%;
  width: 17%;
  margin: 2px;
  display: inline;
  float: left;
}


#footer {
  text-align: center;
  font-weight: bold;
  font-size: 75%;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}

.highcharts-title {
  font-family: 'Roman SD';
  font-size: 30px;
  color: #FF0000;
}

#menuTitle {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

@font-face {
  font-family: 'Roman SD';
  src: url(RomanSD.ttf);
}
